<span class="<%= container_classes %>" title="<%= text %>">
  <svg class="<%= svg_classes %>" aria-hidden="true">
    <use xlink:href="<%= svg_path %>#<%= name %>"></use>
  </svg>
  <span class="slds-assistive-text"><%= text %></span>
</span>